

.item{
    list-style-type: none;
    padding: 17px 0px;
    border-bottom: 1px solid #eaeaea;
}

.control-me::after {
    content: "";
    font-size: 50px;
}
#toggle:checked ~ .control-me::after {
    content: "";
}

.label, label {
    content: "";
    margin-left: auto;
    background: #e4edf5;
    padding: 0.5rem 1rem;
    border-radius: 100px;
    font-size: 30px;
    
}

.visually-hidden {
    position: absolute;
    left: -100vw;    
}

.item button{
    font-size: 13px;
    margin-left: 10px;
    background: #e4edf5;
    flex-shrink: 0;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 100px;
    height: 50px;
    width: 50px;
}

.text-input{
    width: 100%;
    padding: 10px;
    border: 1px solid #dfdfdf;
}


input[type=text], textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    border: 1px solid #DDDDDD;
  }
   
  input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 10px  #a72727;
    border: 1px solid #a72727;
  }
  